{
  "openapi": "3.0.1",
  "info": {
    "title": "Cheques",
    "description": "Podrás consultar cheques denunciados, extraviados, sustraídos o adulterados. La información disponible aquí es suministrada por las entidades financieras que operan en el país y se publica sin alteraciones.",
    "contact": {
      "name": "API BCRA Consultas Técnicas",
      "email": "api@bcra.gob.ar"
    },
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://api.bcra.gob.ar"
    }
  ],
  "paths": {
    "/cheques/v1.0/entidades": {
      "get": {
        "tags": [
          "Maestros"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EntidadResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntidadResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntidadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EntidadResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntidadResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntidadResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/cheques/v1.0/denunciados/{codigoEntidad}/{numeroCheque}": {
      "get": {
        "tags": [
          "Cheques"
        ],
        "parameters": [
          {
            "name": "codigoEntidad",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "numeroCheque",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChequeResponseError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Cheque": {
        "type": "object",
        "properties": {
          "numeroCheque": {
            "type": "integer",
            "format": "int64"
          },
          "denunciado": {
            "type": "boolean"
          },
          "fechaProcesamiento": {
            "type": "string",
            "format": "date",
            "example": "2024-08-07"
          },
          "denominacionEntidad": {
            "type": "string",
            "nullable": true
          },
          "detalles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChequeDetalle"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChequeDetalle": {
        "type": "object",
        "properties": {
          "sucursal": {
            "type": "integer",
            "format": "int32"
          },
          "numeroCuenta": {
            "type": "integer",
            "format": "int64"
          },
          "causal": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChequeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "results": {
            "$ref": "#/components/schemas/Cheque"
          }
        },
        "additionalProperties": false
      },
      "ChequeResponseError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "errorMessages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Entidad": {
        "type": "object",
        "properties": {
          "codigoEntidad": {
            "type": "integer",
            "format": "int32"
          },
          "denominacion": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EntidadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entidad"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EntidadResponseError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "errorMessages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  }
}