{
  "openapi": "3.0.1",
  "info": {
    "title": "Estadísticas monetarias | Series y principales variables",
    "description": "API Series y Principales Variables",
    "contact": {
      "name": "API BCRA Consultas Técnicas",
      "email": "api@bcra.gob.ar"
    },
    "version": "v3.0"
  },
  "servers": [
    {
      "url": "https://api.bcra.gob.ar",
            "description": ""
    }
  ],
  "paths": {
    "/estadisticas/v3.0/Monetarias": {
      "get": {
        "tags": [
          "Monetarias"
        ],
        "responses": {
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MonetariasResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonetariasResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonetariasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/estadisticas/v3.0/Monetarias/{idVariable}": {
      "get": {
        "tags": [
          "Monetarias"
        ],
        "operationId": "Datos",
        "parameters": [
          {
            "name": "idVariable",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "desde",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "hasta",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DatosMonetariaResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatosMonetariaResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatosMonetariaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DatosMonetaria": {
        "type": "object",
        "properties": {
          "idVariable": {
            "type": "integer",
            "format": "int32"
          },
          "fecha": {
            "type": "string",
            "format": "date",
            "example": "2024-12-16"
          },
          "valor": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "DatosMonetariaResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatosMonetaria"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "resultset": {
            "$ref": "#/components/schemas/Resultset"
          }
        },
        "additionalProperties": false
      },
      "Monetarias": {
        "type": "object",
        "properties": {
          "idVariable": {
            "type": "integer",
            "format": "int32"
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          },
          "categoria": {
            "type": "string",
            "nullable": true
          },
          "fecha": {
            "type": "string",
            "format": "date",
            "example": "2024-12-16"
          },
          "valor": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "MonetariasResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monetarias"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ResponseError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "errorMessages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Resultset": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      }
    }
  }
}